.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #161625;
  padding: 30px 100px 30px 100px;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  height: 30px;
  width: 30px;
}
.logo-title {
  color: #2cc6c6;
  font-family: 'Roboto';
  font-size: 25px;
  margin-left: 10px;
}
.website-description {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 20px;
}
.container {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.failure {
  height: 400px;
  width: 400px;
}
.failure-text {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 30px;
}
.bar-chart-container {
  background-color: #1c1c2b;
  margin-bottom: 20px;
}
.bar-chart-header {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 20px;
  margin: 40px;
}
